<%-include header.ejs %>
    


        <div class="about-content"></div>
         <div class="container mt-3">
            <h1 style="color: pink;">
                ABOUT US
            </h1>
        </div> 
        <div class="card mb-2" style="width: 100%;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="images/pretty.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text" style="font-size:20px ;">
                            Due to fast fashion there is wastage of alot <br>
                            of usable clothes. So we aim to provide an environment<br>
                            that is eco-friendly as well as pocket friendly. Our <br>
                            small move can make alot of difference in the society. <br>
                            Together we can contribute to the world and help reduce<br>
                            it’s impact streadily for sustainability<br>
                            AASA Thrifting is initiated with the moto to reuse<br>
                            ,recycle and reduce the production of the harmful <br>
                            aspects and utilize the available resources<br><br>
                             Thrift shopping is good for the environment <br>
                             because it keeps clothes out of landfills,<br>
                              reduces carbon and chemical<br>
                            pollution caused by clothing production, <br>
                            and lowers water consumption. Most thrift shops <br>
                            also support local charities,<br>
                            which some could be for environmental causes.<br>
                            On the more fun side, you never know what you’re<br>
                            going to find at thrift shops, and you can get really <br>
                            cool items for a cheap price. <br>

                        </p1>
                        </p>
        
                    </div>
                </div>
            </div>
        </div>
        <!-- <img src="images/icon.png" style="height:250px; width:250px ; display: inline; > -->
        
        
    <%-include footer.ejs %>