<%-include header.ejs %>
<style>
    .photo {
        margin: 3%;
        position: relative;
    }

    .first-txt {
        text-align: center;
        position: absolute;
        top: 17px;
        left: 50px;
    }
    .firsts-txt {
        
        position: absolute;
        top: 17px;
        left: 50px;
    }

    .second-txt {
        text-align: center;
        position: absolute;
        color-interpolation-filters: 20px;
        left: 10px;
        align-items: center;
    }
</style>
    <div class="photo">
    <p style="background-image: url('images/customer1.jpg');"></p>
    <img src = "images/customer1.jpg" alt="firstone" style="width: 100%; height:20%;" >
    <h1 class="first-txt">FAIR AND EASY RETURN</h1>
    <p1 class="firsts.txt">BUYERS POLICY</p1>
   <p2>Didn’t like the purchase? Don’t Worry ,We got you covered.</p2><br>
   
   <a href="/returnform"><button class = "second-txt" style="background-color:magenta;">Return</button></a></div>
   <%-include footer.ejs %>